---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
const Title = "Behandlingsteknikker";
---

<style>
  p {
    font-family: "Martel", serif;
    font-weight: 400;
    font-style: normal;
  }
</style>

<BaseLayout Title={Title}>
  <div>
    <h1>Behandlingsteknikker</h1>
    <p>Jeg er på behandlingsteknikkersiden</p>
  </div>
</BaseLayout>
