---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
const Title = "Behandlingsteknikker";
import Navigation from "../components/Navigation.astro";
---

<style></style>

<BaseLayout Title={Title}>
  <Navigation />
  <div>
    <h1>Behandlingsteknikker</h1>
    <p>Jeg er på behandlingsteknikkersiden</p>
  </div>
</BaseLayout>
