---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
const Title = "Behandlinger";
---

<style></style>

<BaseLayout Title={Title}>
  <div>
    <h1>Behandlinger</h1>
    <p>Jeg er på behandlingssiden</p>
  </div>
</BaseLayout>
