---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
const Title = "Behandlinger";
---

<style>
  p {
    font-family: "Martel", serif;
    font-weight: 400;
    font-style: normal;
  }
</style>

<BaseLayout Title={Title}>
  <div>
    <h1>Behandlinger</h1>
    <p>Jeg er på behandlingssiden</p>
  </div>
  <a href="/Behandlingsteknikker"> Behandlingsteknikker</a>
</BaseLayout>
