---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
const Title = "Blogpost";
---

<style>
  div {
    background-color: var(--secondary-background);
  }

  p {
    font-family: "Martel", serif;
    font-weight: 400;
    font-style: normal;
  }
</style>

<BaseLayout Title={Title}>
  <div>
    <h1>Kom din høfeber i forkøbet med zoneterapi</h1>
    <p>Jeg er inde på blogindlægget</p>
  </div>
</BaseLayout>
