---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
const Title = "Blog";
---

<style>
  div {
    background-color: var(--secondary-background);
  }
</style>

<BaseLayout Title={Title}>
  <div>
    <h1>Blog</h1>
    <p>Jeg er på bloggen</p>
  </div>
</BaseLayout>
