---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
const Title = "Blogpost";
---

<style></style>

<BaseLayout Title={Title}>
  <div>
    <h1>Kom din høfeber i forkøbet med zoneterapi</h1>
    <p>Jeg er inde på blogindlægget</p>
  </div>
</BaseLayout>
