---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
const Title = "Cookies & Privatlivpolitik";
---

<style></style>

<BaseLayout Title={Title}>
  <div>
    <h1>Cookies & Privatlivpolitik</h1>
    <p>Jeg er på Cookies & Privatlivpolitik siden</p>
  </div>
</BaseLayout>
