---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
const Title = "Handelsbetingelser";
---

<style></style>

<BaseLayout Title={Title}>
  <div>
    <h1>Handelsbetingelser</h1>
    <p>Jeg er på Handelsbetingelser siden</p>
  </div>
</BaseLayout>
