---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import Navigation from "../components/Navigation.astro";
const Title = "Handelsbetingelser";
---

<style>
  div {
    background-color: var(--tertiary-background);
    p {
      font-family: "Martel", serif;
      font-weight: 400;
      font-style: normal;
    }
  }
</style>

<BaseLayout Title={Title}>
  <Navigation />
  <section class="primary">
    <div>
      <h1>Handelsbetingelser</h1>
    </div>

    <div>
      <h3>AFBUD</h3>
      <p>
        Afbud bedes ske senest 24 timer før tid via det link, som fremgår af den
        bekræftelse du har modtaget på mail eller på sms til 26911919. Ved akut
        opstået sygdom kan gives afbud senest kl. 7 samme morgen, som
        behandlingen finder sted til 26911919.  Ved afbud herefter eller ved
        manglende fremmøde uden afbud betales den fulde pris, som jeg opkræver
        via mobilepay.   Bliver jeg syg, eller bliver jeg på anden måde ude af
        stand til at gennemføre behandlingen, vil jeg kontakte dig hurtigst
        muligt,  for at aftale en ny tid for din behandling. Jeg vil i den
        forbindelse ikke betale for din evt. tabte arbejdsfortjeneste.
      </p>
    </div>

    <div>
      <h3>BETALING</h3>
      <p>
        Du kan betale via bankoverførsel, som du overfører betalingen inden
        behandlingen. Eller du kan betale med Mobilepay eller kontant i
        klinikken. Kvittering for betaling bliver eftersendt.​
      </p>
    </div>

    <div>
      <h3>GDPR</h3>
      <p>
        Jeg har tavshedspligt, og opbevarer dine data i mit GDPR-godkendte
        journal- og bookingsystem Onlinebooq.  Læs mere om hvordan jeg opbevarer
        dine data.
      </p>
    </div>
  </section>
</BaseLayout>
