---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import Navigation from "../components/Navigation.astro";
const Title = "Handelsbetingelser";
---

<style>
  div {
    background-color: var(--tertiary-background);
    p {
      font-family: "Martel", serif;
      font-weight: 400;
      font-style: normal;
    }
  }
</style>

<BaseLayout Title={Title}>
  <Navigation />
  <div class="primary">
    <h1>Handelsbetingelser</h1>
    <p>Jeg er på Handelsbetingelser siden</p>
  </div>
</BaseLayout>
