---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
const Title = "Om";
---

<style></style>

<BaseLayout Title={Title}>
  <div>
    <h1>Om Ulla</h1>
    <p>Jeg er på Om Ulla siden</p>
  </div>
</BaseLayout>
