---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import NavigationLys from "../components/NavigationLys.astro";
const Title = "Produkter";
---

<style>
  div {
    background-color: var(--secondary-background);
  }

  p {
    font-family: "Martel", serif;
    font-weight: 400;
    font-style: normal;
  }
</style>

<BaseLayout Title={Title}>
  <NavigationLys />
  <div>
    <h1>Produkter</h1>
    <p>
      I Kliniken er det muligt at købe vores egne økologiske hjemmerørte cremer
      og produkter fra Forever
    </p>
    <h2>UCCA</h2>
    <p></p>
    <h2>Forever</h2>
    <p></p>
  </div>
</BaseLayout>
