<h1>Blog</h1>

<a href="/Blogpost"> Blogpost</a>

<div>
  <button class="button">Massage</button>

  <button class="button">Zoneterapi</button>

  <button class="button">Gode Råd</button>

  <button class="button">Tanker fra Ulla</button>
</div>

<style>
  .container {
    background-color: var(--secondary-background);
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }

  p {
    font-family: "Martel", serif;
    font-weight: 400;
    font-style: normal;
  }

  .button {
    border: 2px solid var(--font-blue);
    background-color: transparent;
    color: var(--font-blue);
    padding: 12px 60px;
  }
</style>
