<section class="container">
  <img src="/public/Fotos/greenhand.png" alt="En hånd på en anatomisk figur" />
  <div>
    <h2>GØR BRUG AF DINE RETTIGHEDER</h2>
    <p>
      Send en mail til massageholistisk@gmail.com, og fortæl på hvilken måde du
      vil gøre brug af dine rettigheder, så retter/ sletter jeg oplysningerne om
      dig indenfor en uge.
    </p>
  </div>

  <div>
    <h2>DATAANSVAR OG KLAGEMULIGHED</h2>

    <p>
      Behandlingen af dine personoplysninger sker i medfør af
      databeskyttelsesforordningen, bedre kendt som GDPR. Holistisk massage CVR:
      37243922 er dataansvarlig for behandlingen af dine personoplysninger. Jeg
      opbevarer oplysningerne så længe du er kunde hos mig eller indtil du beder
      mig om at slette dig som kunde eller som modtager af nyhedsbreve. Du har
      mulighed for at klage til Datatilsynet, hvis du er utilfreds med den måde,
      jeg behandler dine personoplysninger på. Du finder Datatilsynets
      kontaktoplysninger på www.datatilsynet.dk
    </p>
  </div>
</section>

<style>
  .container {
    background-color: var(--secondary-background);
    background-color: var(--secondary-background);
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
  }

  p {
    font-family: "Martel", serif;
    font-weight: 400;
    font-style: normal;
  }
</style>
