<style>
  footer {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background-color: var(--footer-brown);
  }

  a {
    text-decoration: none;
  }
</style>

<footer>
  <div class="container_footer">
    <div class="Abningstider">
      <h4>ÅBNINGSTIDER</h4>

      <p>Tirsdag: 14-19</p>
      <p>Onsdag: 9-15</p>
      <p>Torsdag: 14-19</p>
      <p>Fredag: 9-15</p>
      <p>Lørdag: 10-15</p>
    </div>

    <div class="Info">
      <h4>INFO</h4>

      <a href="/CookiesPrivatlivpolitik"> Cookies & Privatlivpolitik</a>
      <a href="/Handelsbetingelser"> Handelsbetingelser</a>
    </div>

    <div class="SoMe">
      <h4>SOCIALE MEDIER</h4>

      <p>Facebook</p>
      <p>Instagram</p>
    </div>

    <div class="Kontakt">
      <h4>KONTAKT</h4>

      <p>Falkevej 27 - 3200 Helsinge</p>
      <p>Tlf: +45 26911919</p>
      <p>massageholistisk@gmail.com</p>
    </div>

    <div class="Icons">
      <p>Her skal ikonerne sætte ind</p>
    </div>
  </div>
</footer>
