<footer>
  <div class="container_footer">
    <div class="Abningstider">
      <h4>ÅBNINGSTIDER</h4>

      <p>Tirsdag: 14-19</p>
      <p>Onsdag: 9-15</p>
      <p>Torsdag: 14-19</p>
      <p>Fredag: 9-15</p>
      <p>Lørdag: 10-15</p>
    </div>

    <div class="Info">
      <h4>INFO</h4>

      <a href="/CookiesPrivatlivpolitik"> Cookies & Privatlivpolitik</a>
      <a href="/Handelsbetingelser"> Handelsbetingelser</a>
    </div>

    <div class="SoMe">
      <h4>SOCIALE MEDIER</h4>

      <p>Facebook</p>
      <p>Instagram</p>
    </div>

    <div class="Kontakt">
      <h4>KONTAKT</h4>

      <p>Falkevej 27 - 3200 Helsinge</p>
      <p>Tlf: +45 26911919</p>
      <p>massageholistisk@gmail.com</p>
    </div>

    <div class="Icons">
      <div class="frfm">
        <img src="/public/Iconer/FRFM.png" alt="FRFM Logo" />
      </div>

      <div class="rab">
        <img src="/public/Iconer/RAB.png" alt="FRFM Logo" />
      </div>

      <div class="zct">
        <img src="/public/Iconer/ZCT.png" alt="FRFM Logo" />
      </div>
    </div>
  </div>
</footer>

<style>
  footer {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background-color: var(--footer-brown);
  }

  .container_footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    display: flex;
    flex-direction: row;
    justify-content: center;

    gap: 5rem;
  }

  a {
    text-decoration: none;
  }

  @media (min-width: 900px) {
    footer {
      padding: 3rem;
    }
  }
</style>
