<footer>
  <div class="divider"></div>

  <div class="container_footer">
    <div class="Abningstider">
      <h4>ÅBNINGSTIDER</h4>

      <p>Tirsdag: 14-19</p>
      <p>Onsdag: 9-15</p>
      <p>Torsdag: 14-19</p>
      <p>Fredag: 9-15</p>
      <p>Lørdag: 10-15</p>
    </div>

    <div class="Info">
      <h4>INFO</h4>

      <a href="/CookiesPrivatlivpolitik"> Cookies & Privatlivpolitik</a>
      <a href="/Handelsbetingelser"> Handelsbetingelser</a>
    </div>

    <div class="SoMe">
      <h4>SOCIALE MEDIER</h4>

      <p>Facebook</p>
      <p>Instagram</p>
    </div>

    <div class="Kontakt">
      <h4>KONTAKT</h4>

      <p>Falkevej 27 - 3200 Helsinge</p>
      <p>Tlf: +45 26911919</p>
      <p>massageholistisk@gmail.com</p>

      <p>© Holistisk massage- og zoneterapi v/ Ulla Vollmer Lund</p>
      <p>CVR: 37243922</p>
    </div>

    <div class="Icons">
      <img class="frfm" src="/Iconer/FRFM.png" alt="FRFM Logo" />
      <img class="rab" src="/Iconer/RAB.png" alt="FRFM Logo" />
      <img class="zct" src="/Iconer/ZCT.png" alt="FRFM Logo" />
    </div>

    <div class="skrift"></div>

    <style>
      footer {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        background-color: var(--primary-background);

        font-family: "Martel", serif;
        font-weight: 400;
        font-style: normal;
        position: absolute;
      }

      .container_footer {
        display: grid;
        grid-template-columns: repeat(6, 1fr);

        display: flex;
        flex-direction: row;
        justify-content: center;

        gap: 5rem;
      }

      a {
        text-decoration: none;
        color: var(--font-blue);
      }

      .Icons {
        position: absolute;
        bottom: 8px;
        left: 16px;

        display: inline-flex;
        gap: 1rem;
        margin-top: 10px;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
      }

      .frfm {
        width: 70px;
        height: 40px;
      }

      .rab {
        width: 120px;
        height: 40px;
      }

      .zct {
        width: 65px;
        height: 40px;
      }

      .Abningstider {
      }

      .Kontakt {
      }

      .Info {
      }

      .SoMe {
      }

      p {
        font-family: "Martel", serif;
        font-weight: 400;
        font-style: normal;
      }

      .divider {
        border-top: 1px solid white;
      }
      @media (min-width: 900px) {
      }
    </style>
  </div>
</footer>
