<section class="container">
  <h1>Massage, Krops- & Zoneterapi er for alle</h1>
  <p>
    Alle behandlinger i klinikken er manuelle og helhedsorienterede, og tager
    afsæt i din konkrete situation og aktuelle behov. Uanset dit formål med
    behandlingen, er det min intention, at den hjælper dig med at finde frem til
    årsagen til smerter-og spændingsmønstre, og hjælper dig med at blive dem
    kvit, så du kan få en hverdag med større frihed, glæde og velvære i din
    krop. Du kan derfor få stor udbytte af behandlingerne, uanset hvor i livet,
    du er. For alle behandlinger gælder det, at min tilgang til dig er konkret,
    nærværende og omsorgsfuld. Det er min intention at du både under og efter
    behandlingen oplever mere energi og accept af dig selv, føler dig afspændt
    og mærker balance og ro.
  </p>

  <button class="button">Læs mere</button>

  <div class="divider"></div>
</section>

<style>
  .container {
    align-items: center;
  }
  .p {
    text-align: left;
  }

  .button {
    border: 2px solid var(--font-blue);
    background-color: transparent;
    color: var(--font-blue);
    padding: 12px 60px;
  }

  .divider {
    border-bottom: 1px solid white;
  }
</style>
