<section class="container">
  <h1>Kom din høfeber i forkøbet med zoneterapi</h1>
  <p>
    Udenfor mit vindue, kan jeg se, at haslen allerede har lange blomsterstande,
    også kaldet hasselrakler på sine grene. Lige såvel som de er en glædelig
    forårsbudbringer, er de også en budbringer om den kommende høfebersæson.
    Rigtig mange af os (ca. 1 million mennesker i Danmark), lider af høfeber
    eller allergisymptomer, som især går ud over øjne og næse. Oftest skyldes
    høfeber allergi over for pollen.
  </p>

  <img src="/public/Fotos/facegreen.png" alt="" />

  <div>
    <button class="button">Zoneterapi</button>

    <button class="button">Gode råd</button>
  </div>
</section>

<style>
  .container {
    background-color: var(--secondary-background);
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }

  p {
    font-family: "Martel", serif;
    font-weight: 400;
    font-style: normal;
  }

  .button {
    border: 2px solid var(--font-blue);
    background-color: transparent;
    color: var(--font-blue);
    padding: 12px 60px;
  }
</style>
