<section class="container">
  <div>
    <h1>Cookies & Privatlivpolitik</h1>
    <h2>FORMÅLET MED REGISTRERINGEN</h2>
    <p>
      Formålet er at kunne opbevare dine helbredsoplysninger og den journal jeg
      skriver for dig, så jeg på den baggrund kan give dig den behandling, som
      understøtter dine behov. Derudover giver det mig mulighed for at sende dig
      nyhedsbreve. Det drejer sig om almindelige person-oplysninger, herunder
      almindelige og følsomme personoplysninger, fx helbredsoplysninger,
      mailadresse og telefon-nummer. Oplysningerne stammer fra de oplysninger,
      som du giver mig i forbindelse med behandlingen i klinikken, og de
      oplysninger du indtaster ved tidsbestilling via online bookingsystemet
      Onlinebooq. Jeg videregiver ikke dine oplysninger og opbevarer dem
      forsvarligt.
    </p>
  </div>

  <div>
    <h2>DINE RETTIGHEDER</h2>

    <p>Jeg skal orientere dig om, at du til hver en tid har ret til:</p>

    <p>
      - At få indsigt i de oplysninger, jeg har registreret om dig at få dine
      personoplysninger i en struktureret og maskinlæsbar form
    </p>
    <p>-At få berigtiget urigtige oplysninger om dig</p>

    <p>
      - At gøre indsigelse mod en ellers lovlig behandling af dine
      personoplysninger
    </p>

    <p>
      -At blive slettet fra mit onlinebookingsystem Onlinebooq, hvor
      oplysningerne opbevares.
    </p>
  </div>

  <img src="/public/Fotos/glas.png" alt="Nogle glas på en bakke" />
</section>

<style>
  .container {
    background-color: var(--secondary-background);
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
  }

  p {
    font-family: "Martel", serif;
    font-weight: 400;
    font-style: normal;
  }
</style>
