<h1>Cookies & Privatlivpolitik</h1>

<div>
  <h2>FORMÅLET MED REGISTRERINGEN</h2>
  <p>
    Formålet er at kunne opbevare dine helbredsoplysninger og den journal jeg
    skriver for dig, så jeg på den baggrund kan give dig den behandling, som
    understøtter dine behov.  Derudover giver det mig mulighed for at sende dig
    nyhedsbreve.  Det drejer sig om almindelige person-oplysninger, herunder
    almindelige og følsomme personoplysninger, fx helbredsoplysninger,
    mailadresse og telefon-nummer.  Oplysningerne stammer fra de oplysninger,
    som du giver mig i forbindelse med behandlingen i klinikken, og de
    oplysninger du indtaster ved tidsbestilling via online bookingsystemet
    Onlinebooq.  Jeg videregiver ikke dine oplysninger og opbevarer dem
    forsvarligt.
  </p>
</div>
