<section class="hero-image">
  <div class="Container">
    <a class="Home" href="/Index"> <h1>Holistisk Massage- & Zoneterapi</h1></a>

    <div class="Navi">
      <a href="https://holistiskmassage.onlinebooq.dk"> Book tid</a>
      <a href="/Behandlinger"> Behandlinger</a>
      <a href="/Produkter"> Produkter</a>
      <a href="/Blog"> Blog</a>
      <a href="/Om">Om</a>
    </div>
  </div>
  <div class="hero-text">
    <p>GIV DIG SELV EN LEDIG STUND. TRÆK VEJRET. MÆRK ROEN.</p>
    <button class="book">BOOK TID</button>
  </div>
</section>

<style>
  body,
  html {
    height: 100%;
  }

  /* Hero img */
  .hero-image {
    background-image: url("/Fotos/heander.png");

    /* specific height */
    height: 100%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    .hero-text {
      position: absolute;
      bottom: 8px;
      left: 16px;
    }

    .book {
      border: 2px solid white;
      background-color: transparent;
      color: white;
      padding: 12px 60px;
    }

    .Container {
      background-color: none;
    }

    .Home {
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      font-style: normal;
      position: absolute;
      top: 14px;
      left: 14px;
      padding: 1rem 0 1rem 1rem;
    }

    .Navi {
      font-family: "Martel", serif;
      font-weight: 400;
      font-style: normal;
      position: absolute;
      top: 14px;
      right: 14px;
      background-color: none;
      padding: 1rem 0 1rem 1rem;
    }

    a {
      text-decoration: none;
      color: var(--font-blue);
      padding: 14px;
    }
  }
</style>
