<style>
  body,
  html {
    height: 100%;
  }

  /* Hero img */
  .hero-image {
    background-image: url("/public/Fotos/heander.png");

    /* specific height */
    height: 100%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
</style>

<div class="hero-image">
  <div class="hero-text">
    <p>GIV DIG SELV EN LEDIG STUND. TRÆK VEJRET. MÆRK ROEN.</p>
    <button>BOOK TID</button>
  </div>
</div>
