<section class="container">
  <div>
    <h3>Zoneterapi kan hjælpe</h3>

    <p>
      Bestil tid til zoneterapi mod høfeber allerede nu på bookingsiden. Du
      vælger den behandling under Zoneterapi, som hedder: "75 min. zoneterapi 1.
      gang - RAB" og skriver "Høfeber" i "Note"-feltet. Første behandling er på
      75 min., hvor jeg udover at give dig minimum 60 min zoneterapi, også
      skriver journal for dig. Pris: 600 kr.
    </p>

    <p>
      For at få aktiveret og afbalanceret immunsystemet, anbefaler jeg, at du
      efterfølgende får i alt 4 behandlinger à 60 min. med en uges mellemrum.
      Pris: 1.800 Kr. (spar 200 Kr.)
    </p>

    <p>
      Er du medlem af Sygesikringen Danmark, indberetter jeg til dem, så du kan
      få dit tilskud fra dem efter behandlingen.
    </p>

    <p>Vel mødt i klinikken, og ønsket om lidt mindre "ATJUU" i dette forår.</p>

    <p>Venlig hilsen Ulla Vollmer Lund</p>

    <p>
      *Kilde: Astma og Allergiforbundet
      https://www.astma-allergi.dk/viden-om/hofeber/hvad-er-hofeber/?s=.
    </p>
  </div>
  <img src="/public/Fotos/lysbenlang.png" alt="" />
</section>

<style>
  .container {
    background-color: var(--secondary-background);
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }
  p {
    font-family: "Martel", serif;
    font-weight: 400;
    font-style: normal;
  }
</style>
