<section class="container">
  <h3>Høfebersymptomerne kan være:</h3>
  <p>
    - Snue/løbenæse med klart, vandigt næseflåd - Nyseture - Kløen i og
    tilstoppet næse - Røde og kløende øjne -Øjne, der løber i vand. Nogle
    oplever også lysfølsomhed samt hævelse af øjenlåg og øjenslimhinden. Begge
    øjne vil typisk være angrebet samtidig. -Uoplagthed og træthed, som en
    influenza.
  </p>

  <div>
    <h3>Årstidens høfeber/allergi:</h3>

    <p>
      - Symptomer om foråret skyldes ofte allergi over for pollen fra hassel, el
      og birk. - Sommerens allergisymptomer skyldes normalt græspollen. - Sidst
      på sommeren er det bynkepollen og udendørs skimmelsvampesporer, der kan
      give de her høfebersymptomer.*
    </p>

    <img src="/public/Fotos/lyskrop.png" alt="" />
  </div>
</section>

<style>
  .container {
    background-color: var(--secondary-background);
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }

  p {
    font-family: "Martel", serif;
    font-weight: 400;
    font-style: normal;
  }
</style>
