<section class="container">
  <div>
    <h2>Integrativ massageterapi</h2>
    <p>
      Behandlingerne består af en kombination af lange glidende strøg, og en
      mere specifik, dybdegående bearbejdning af vævet. Jeg arbejder
      med behandling af det myofasciale system i form af afspænding og
      stimulering af bindevæv og muskler, lymfesystemet og ledfrigørelse. Jeg
      ser kroppen som en helhed, og du vil med massagen, opleve en effektfuld og
      afbalancerende virkning af hele din krop. ​ Alle behandlingerne medvirker
      til forøgelse af blodgennemstrømningen i din krop, ledfrigørelse,
      lymfedrænage, afspænding- og stimulering af muskler, sener og bindevæv.
      Massagen udføres i roligt tempo, så dit parasympatiske nervesystem (Ro og
      hvile) aktiveres, og din krop slapper helt af. Vejrtrækning og udstrækning
      er også vigtige elementer i behandlingen. ​ Jeg integrerer min viden om
      traditionel kinesisk medicin (TKM) og 5-elementsteorien i behandlingen.
      Ofte giver det mening at kombinere massageterapien med muskulær
      zoneterapi, som genvej til afbalancering af organ- og følelsesubalancer,
      samt til at tilgå meget spændte eller følsomme områder via refleksologien.
    </p>

    <p>
      Før behandlingen taler vi om dine behov og ønsker for behandlingen.
      Jeg undersøger dig, for at finde fysiske årsager til den aktuelle
      problemstilling fx. vævsskader, smerter, spændingsmønstre, stivhed, ømhed
      mm. Derudover spørger jeg ind til evt. sygehistorie, medicinforbrug, din
      almentilstand mm, som jeg noterer i den journal jeg skriver for dig. På
      den baggrund tilpasser jeg den rette behandling til dig, lige nu. Der er
      derfor aldrig to massager, der er ens.  Integrativ massageterapi er en
      behagelig kropsoplevelse, som du trygt kan læne dig  tilbage i.  Du vil
      kunne mærke en "terapeutisk lækker" ømhed under behandlingen, men det er
      ikke meningen, at du skal opleve smerte under vejs, for så kommer
      behandlingen ikke til at skabe ro eller flow, eller virke
      smertereducerende. Derimod er målet, at du kan mærke, at behandlingen er
      relevant og giver noget til dig, at du kan falde til ro i din krop under
      vejs. Under behandlingen finder vi frem til dit "behagelige sted".   Hvis
      det er relevant for dig, giver jeg dig inspiration til øvelser, som du kan
      lave derhjemme, som understøtter behandlingen. Det kan være lige fra
      åndedrætsøvelser til styrke- eller afspændingsøvelser, afhængig af hvad du
      har brug for, tid til og mulighed for i din hverdag.
    </p>

    <button class="knap"
      ><a href="/Behandlingsteknikker">
        Læs om behandlingsteknikkerne</a
      ></button
    >
  </div>

  <img
    src="/public/Fotos/lysbody.png"
    alt="en overkrop på en anatomisk figur"
  />
</section>

<style>
  .container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }
  p {
    font-family: "Martel", serif;
    font-weight: 400;
    font-style: normal;
  }

  .knap {
    border: 2px solid var(--font-blue);
    background-color: transparent;
    color: var(--font-blue);
    padding: 12px 60px;
  }

  a {
    color: var(--font-blue);
    text-decoration: none;
  }
</style>
