<style>
  .Container {
  }

  .Home {
    font-family: ;
  }

  .Navi {
    font-family: ;
  }

  a {
    text-decoration: none;
    color: var(--font-blue);
  }
</style>

<div class="Container">
  <div class="Home"><a href="/Index"> Holistisk Massage- & Zoneterapi</a></div>

  <div class="Navi">
    <a href="/Behandlinger"> Behandlinger</a>
    <a href="/Behandlingsteknikker"> Behandlingsteknikker</a>
    <a href="/Blog"> Blog</a>
    <a href="/Blogpost"> Blogpost</a>
    <a href="/Om">Om</a>
    <a href="/CookiesPrivatlivpolitik"> Cookies & Privatlivpolitik</a>
    <a href="/Handelsbetingelser"> Handelsbetingelser</a>
  </div>
</div>
