<style>
  .Container {
  }

  .Home {
    font-family: ;

    position: absolute;
    top: 8px;
    left: 16px;
  }

  .Navi {
    font-family: ;

    position: absolute;
    top: 8px;
    right: 16px;
  }

  a {
    text-decoration: none;
    color: var(--font-blue);
  }
</style>

<div class="Container">
  <div class="Home"><a href="/Index"> Holistisk Massage- & Zoneterapi</a></div>

  <div class="Navi">
    <a href="https://holistiskmassage.onlinebooq.dk"> Book tid</a>
    <a href="/Behandlinger"> Behandlinger</a>
    <a href="/Produkter"> Produkter</a>
    <a href="/Blog"> Blog</a>
    <a href="/Om">Om</a>
  </div>
</div>
