<section class="Container">
  <a class="Home" href="/Index"> <h1>Holistisk Massage- & Zoneterapi</h1></a>

  <div class="Navi">
    <a href="https://holistiskmassage.onlinebooq.dk"> Book tid</a>
    <a href="/Behandlinger"> Behandlinger</a>
    <a href="/Produkter"> Produkter</a>
    <a href="/Blog"> Blog</a>
    <a href="/Om">Om</a>
  </div>
</section>

<style>
  .Container {
  }

  .divider {
    border-bottom: 1px solid white;
  }

  .Home {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-style: normal;
    position: absolute;
    left: 16px;
    padding: 14px;
    padding: 14px;
    overflow: hidden;
    float: right;
    display: block;
  }

  .Navi {
    font-family: "Martel", serif;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    top: 8px;
    right: 16px;
    padding: 14px;
    overflow: hidden;
    float: right;
    display: block;
  }

  a {
    text-decoration: none;
    color: var(--font-blue);
    padding: 14px;
    background-color: var(--tertiary-background);
  }

  @media (min-width: 900px) {
  }
</style>
