<div class="Container">
  <div class="Home">
    <a href="/Index"> <h1>Holistisk Massage- & Zoneterapi</h1></a>
  </div>

  <div class="Navi">
    <a href="https://holistiskmassage.onlinebooq.dk"> Book tid</a>
    <a href="/Behandlinger"> Behandlinger</a>
    <a href="/Produkter"> Produkter</a>
    <a href="/Blog"> Blog</a>
    <a href="/Om">Om</a>
  </div>
</div>

<div class="divider"></div>

<style>
  .Container {
    background-color: var(--tertiary-background)
    display: flex;

    list-style-type: none;

    padding: 1rem 0 1rem 1rem;
  }

  .divider {
    border-bottom: 1px solid white;

    margin-bottom: 10ch;
  }

  .Home {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-style: normal;
    position: absolute;
    top: 8px;
    left: 16px;
  }

  .Navi {
    font-family: "Martel", serif;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    top: 8px;
    right: 16px;
    background-color: none;
    padding: 1rem 0 1rem 1rem;
  }

  a {
    text-decoration: none;
    color: var(--font-blue);
  }

  @media (min-width: 900px) {
  }
</style>
