<section class="container">
  <div>
    <h1>Behandlingsteknikker</h1>

    <p>
      ALLE VEJE FØRER TIL ROM. Jeg har en lang række af virkningsfulde teknikker
      i min værktøjskasse, så jeg kan give dig den bedste behandling i forhold
      til de problemstillinger du oplever, og dine aktuelle behov. Ved den
      indledende samtale og de undersøgelser/tests, som jeg udfører før
      massagen, finder jeg  frem til hvilke teknikker, som vil have den bedste
      effekt på din specifikke situation.  Når jeg skriver, at "alle veje fører
      til Rom", er det fordi det er min erfaring at der ikke kun er én måde at
      behandle på, eller at løse et givent problem på. En teknik kan virke for
      én person, og slet ikke virke for en anden person. Derfor tilpasser jeg
      massagen til hvad du lige netop har brug for idag. Og derfor er to
      massager aldrig helt ens.
    </p>

    <button class="button">Læs mere</button>
  </div>

  <div>
    <img
      src="/public/Fotos/Budda.png"
      alt="En lille buttet Budda statuette, i cremehvid"
    />
  </div>
</section>

<div class="divider"></div>

<style>
  .container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }

  .button {
    border: 2px solid var(--font-blue);
    background-color: transparent;
    color: var(--font-blue);
    padding: 12px 60px;
  }

  .divider {
    border-bottom: 1px solid white;

    margin-bottom: 10ch;
  }

  p {
    font-family: "Martel", serif;
    font-weight: 400;
    font-style: normal;
  }
</style>
