<style>
  .container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }

  p {
    font-family: "Martel", serif;
    font-weight: 400;
    font-style: normal;
  }
</style>

<div>
  <h1>Produkter</h1>
  <p>
    I Klinikken er det muligt at købe vores egne økologiske hjemmerørte cremer
    samt produkter fra Forever
  </p>
</div>

<section class="container">
  <h2>UCCA</h2>
  <p></p>

  <h2>Forever</h2>
  <p></p>

  <img src="/public/Fotos/produkter.png" alt="Billede af UCCA produkter" />
</section>
