<section class="container">
  <img src="/public/Fotos/greenbenlang.png" alt="" />

  <h3>Hvad kan du selv gøre for at undgå generne fra høfeber?</h3>
  <p>
    Ud over den konventionelle næsespray, eller binyrebarkindsprøjtninger, som
    du får hos din læge, har du mulighed selv at imødegå høfeber med
    zoneterapeutiske behandlinger. I modsætning til de konventionelle
    behandlinger, er zoneterapi uden bivirkninger. Derudover kan du booste dit
    immunforsvar med antiinflammatorisk kost og almindelig sund livsstil,
    hvilket du sikkert allerede praktiserer.
  </p>

  <h3>Hvorfor får du allergiske reaktioner?</h3>
  <p>
    Allergiske reaktioner er ofte udtryk for et presset immunsystem, eller et
    autoimmunt immunsystem. Med zoneterapien booster vi dit dit immunsystem og
    får udrenset kroppen, så din krop bliver mere afbalanceret og
    modstandsdygtig, da behandlingen forøger din krops regulationskapacitet, så
    den bedre kan håndtere den stress-påvirkning, som de store mængder pollen er
    for din krop. Du vil efter de første behandlinger kunne opleve en
    midlertidig forværring, dvs. du vil opleve forbigående allergilignende
    reaktioner, à la de allergisymptomer du mærker med høfeberen. Dette er
    normalt for den måde zoneterapi virker på, altså at der sker en forværring
    af symptomerne før der sker bedring mod homøostase (Sundhed/Balance). Det
    kan derfor være en god idé at starte behandlingerne inden du begynder at få
    høfeber fra pollen i luften. Det optimale vil være, at du når at få 3-5
    behandlinger inden pollentallene bliver skyhøjre. Alle i alderen fra 1-100
    år kan have gavn af zoneterapi, hvis de lider af høfeber.
  </p>
</section>

<style>
  .container {
    background-color: var(--secondary-background);
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }

  p {
    font-family: "Martel", serif;
    font-weight: 400;
    font-style: normal;
  }
</style>
