<h1>SÅDAN OPLEVER ANDRE BEHANDLINGERNE</h1>

<div class="Naja">
  <h3>Naja</h3>
  <p>
    "Ulla er intet mindre end en fremragende massør der virkelig forstår at give
    en massage der får en til at flyve. Jeg er selv massør og sætter derfor
    virkelig pris på en dygtig og nærværende massør - og det er Ulla absolut.
    Hvis ikke jeg boede så pokkers langt væk, kom jeg rendende hele tiden"
  </p>
</div>

<div class="Lisbeth">
  <h3>Lisbeth</h3>
  <p>
    "Jeg kan varmt anbefale massagen! Jeg har sjældent følt mig så afslappet
    efter en gang massage. Også var Ulla virkelig god til at lytte til mig. Jeg
    har allerede bestilt en ny tid"
  </p>
</div>

<div class="Vibeke">
  <h3>Vibeke</h3>
  <p>
    "Da jeg kom til massage i går, kunne jeg ikke gå op af vores trappe uden det
    gjorde ondt i mit højre knæ. Da jeg kom hjem, gjorde det ikke ondt mere. Jeg
    har gået op og ned af trappen flere gange i dag, uden det har gjort
    ondt...det er så vildt. Magiske hænder"
  </p>
</div>

<style>
  .Naja {
    font-family: "Martel", serif;
    font-weight: 400;
    font-style: italic;
  }

  .Lisbeth {
    font-family: "Martel", serif;
    font-weight: 400;
    font-style: italic;
  }

  .Vibeke {
    font-family: "Martel", serif;
    font-weight: 400;
    font-style: italic;
  }
</style>
