<div>
  <h1>Behandlingsteknikker</h1>
  <p>Jeg er på behandlingsteknikkersiden</p>
</div>

<img src="/public/Fotos/facegreenstor.png" alt="" />

<style>
  div {
    background-color: var(--tertiary-background);
  }
</style>
