<div>
  <h1>Behandlingsteknikker</h1>

  <h2>TRIGGERPUNKTSBEHANDLING - TRP</h2>
  <p>
    - Triggerpunkter (TrP) er ømme, vedvarende spændinger, som opstår pga.
    afklemning af de små blodårer som forsyner musklen. Herved bliver
    blodforsyningen til musklen reduceret, den får for lidt energi til at kunne
    arbejde hensigtsmæssigt, og muskelfibrne bliver stramme. TrP'er udløser
    kortlagte fjernreaktioner, som især kan mærkes når man trykker direkte på
    dem.
  </p>
  <p>
    - Behandlingen består i at finde frem til et TrP og at presse blidt på det
    til spændingen og fjernreaktionen forsvinder. Behandlingen kan starte med
    stor ømhed, hvorefter ømheden forsvinder efter et stykke tid, pga. den øgede
    blodgennemstrømning i musklen. Jeg fletter ofte behandlingen sammen med
    andre behandlingsformer under massagen, fx. MFR.
  </p>
</div>

<img src="/public/Fotos/facegreenstor.png" alt="" />

<style>
  div {
    background-color: var(--tertiary-background);
  }
</style>
