<section class="container">
  <div>
    <h2>Behandlingsteknikker</h2>

    <h2>TRIGGERPUNKTSBEHANDLING - TRP</h2>
    <p>
      - Triggerpunkter (TrP) er ømme, vedvarende spændinger, som opstår pga.
      afklemning af de små blodårer som forsyner musklen. Herved bliver
      blodforsyningen til musklen reduceret, den får for lidt energi til at
      kunne arbejde hensigtsmæssigt, og muskelfibrne bliver stramme. TrP'er
      udløser kortlagte fjernreaktioner, som især kan mærkes når man trykker
      direkte på dem.
    </p>
    <p>
      - Behandlingen består i at finde frem til et TrP og at presse blidt på det
      til spændingen og fjernreaktionen forsvinder. Behandlingen kan starte med
      stor ømhed, hvorefter ømheden forsvinder efter et stykke tid, pga. den
      øgede blodgennemstrømning i musklen. Jeg fletter ofte behandlingen sammen
      med andre behandlingsformer under massagen, fx. MFR.
    </p>
  </div>

  <div>
    <h2>MYOFASCIAL RELEASE - MFR</h2>
    <p>
      - Fascia er bindevæv, som er overalt i kroppen, og som omslutter vores
      muskler og organer, binder hele kroppen sammen og bidrager til at afstive
      vores kropsholdning. Fascia består af kollagen, grundsubstans/vædske og
      sensoriske nerveender, som er følsomme overfor tryk, træk og berøring.
      Musklernes fascia, myofasciaen, ligger i mange lag rundet om
      muskelfibrene, og er flettet sammen på kryds og tværs. På den måde bliver
      muskler og sener vævet sammen med knogler og kroppens organer. Det betyder
      at hvis der er en muskelspænding i én muskel, kan denne spænding bliver
      overført til andre muskler og organer via fasciaforbindelser, også kaldet
      Fascia Linjer.
    </p>
    <p>
      - MFR er en rolig og blid massageteknik, som jeg anvender for at afspænde
      stramme fascia/fascialinjer, som omslutter al kroppens væv. Ved gentagne
      behandlinger kan teknikken, sammen med muskeltræning, bidrage til ændring
      af en uønsket kropsholdning. Et eksempel kan være "tantepuklen", som mange
      gerne vil af med. P.g.a. af teknikkens ro er MFR også med til at reducere
      mængden af stresshormoner i kroppen, hvorfor teknikken er velegnet som
      behandling af stress. Derudover kan den indgå i behandling af
      triggerpunkter (TrP).
    </p>
  </div>

  <img src="/public/Fotos/facegreenstor.png" alt="" />
</section>

<style>
  div {
    background-color: var(--tertiary-background);
  }

  .container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }
  p {
    font-family: "Martel", serif;
    font-weight: 400;
    font-style: normal;
  }

  .knap {
    border: 2px solid var(--font-blue);
    background-color: transparent;
    color: var(--font-blue);
    padding: 12px 60px;
  }

  a {
    color: var(--font-blue);
    text-decoration: none;
  }
</style>
