<section class="container">
  <img
    src="/public/Fotos/2stole.png"
    alt="Et billede af to stole i en massageklinik"
  />

  <div class="text">
    <p>
      Er du i tvivl om, hvilken behandling, du skal vælge, eller har du
      spørgsmål, kan du altid skrive til mig på massageholistisk@gmail.com
    </p>
  </div>
</section>

<div class="divider"></div>

<style>
  .divider {
    border-bottom: 1px solid white;

    margin-top: 3ch;

    margin-bottom: 3ch;
  }
</style>
