<section class="container">
  <img src="/public/Fotos/entre.png" alt="billede af en entre" />

  <div>
    <h2>UDDANNELSE OG EFTERUDDANNELSE</h2>

    <h3>Januar-Marts 2024</h3>

    <p>
      Muskulær zoneterapi, del 1.Den Danske Zoneterapeutskole (DDZ) v/ Christian
      Slot
    </p>

    <p>40 Timer/RAB-points</p>

    <h3>Januar-Marts 2024</h3>

    <p>
      Muskulær zoneterapi, del 1.Den Danske Zoneterapeutskole (DDZ) v/ Christian
      Slot
    </p>

    <p>40 Timer/RAB-points</p>

    <h3>Januar-Marts 2024</h3>

    <p>
      Muskulær zoneterapi, del 1.Den Danske Zoneterapeutskole (DDZ) v/ Christian
      Slot
    </p>

    <p>40 Timer/RAB-points</p>
  </div>
</section>

<img src="/public/Fotos/lyskropstor.png" alt="billede af en anatomisk krop" />

<style>
  .container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }
  p {
    font-family: "Martel", serif;
    font-weight: 400;
    font-style: normal;
  }
</style>
