<section class="container">
  <div>
    <h1>OM ULLA</h1>

    <p>
      Jeg har altid haft en stor interesse for mennesker og måden vi er sammen
      på i det fysiske miljø, vi omgiver os med, og dermed også for vores væren
      i kroppen og rummet. Kroppen er et fantastisk udgangspunkt for al erfaring
      vi gør os her på denne jord. Gennem kroppen kan vi med åbenhed og
      nysgerrighed, udforske vores potentialer, traumer og drømme, på hver vores
      unikke måde.
    </p>

    <p>
      Med en baggrund som arkitekt, har jeg i en moden alder valgt at gå all-in
      som behandler, fordi det simpelthen giver så meget mening for mig at være
      med til at hjælpe mine medmennesker med at finde glæde, velvære og fred i
      krop og sind.
    </p>

    <p>
      Jeg er uddannet fysiurgisk massageterapeut og idrætsmassør ved Skolen
      Kropsbehandling i Lyngby i 2018. Derudover er jeg uddannet zoneterapeut på
      Den Danske Zoneterapeutskole i Herlev i 2023.
    </p>
  </div>
  <img src="/public/Fotos/ulla.png" alt="" />
</section>

<style>
  .container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }
  p {
    font-family: "Martel", serif;
    font-weight: 400;
    font-style: normal;
  }

  .knap {
    border: 2px solid var(--font-blue);
    background-color: transparent;
    color: var(--font-blue);
    padding: 12px 60px;
  }
</style>
