<section class="container">
  <img src="/public/Fotos/lysben.png" alt="" />
  <div>
    <h2>Zoneterapeutisk behandling</h2>

    <p>
      Når vi oplever stress, spiser usundt, ikke bevæger os, og glemmer at passe
      på os selv, er det, at vi får for mange belastningsfaktorer i vores kroppe
      . Det er her, at sygdom begynder at sætte ind. Zoneterapien afbalancerer
      din krop og vitale organer ved hjælp af reflekszonebehandling på dine
      fødder, så kroppens selvhelbredende kræfter bliver sat i gang, og du
      kommer nærmere homøostase, dvs. en indre biokemisk ligevægt, som er en
      forudsætning for sundhed. ​ At få zoneterapi er yderst afslappende, selvom
      det kan være lidt ømt i starten. Ømhed i zonerne og "grus" er tegn på
      ubalancer og ophobede affaldsstoffer, som bliver udrenset med
      behandlingerne. Jeg tilpasser trykket så det passer til dér hvor du er, og
      du kan trække vejret stille og roligt under behandlingen.
    </p>
    <div class="andentekst">
      <p>
        Før behandlingen taler vi om dine ønsker for behandlingen, symptomer
        samt evt. lægeligt stillede diagnoser. Derudover spørger jeg ind til
        sygehistorie, medicinforbrug, din almentilstand mm, som jeg noterer i
        den journal jeg skriver for dig. På den baggrund tilpasser jeg den
        zoneterapeutiske behandling til dig, lige nu. Ved første behandling
        undersøger jeg dine fødder og mærker hvad fødderne "fortæller" mig, og
        giver dig en indledende behandling. Til den efterfølgende behandling,
        har jeg udarbejdet en behandlingsplan, som tager udgangspunkt i den
        lægeligt stillede diagnose du kommer med, eller de symptomer du ønsker
        behandling for. Behandlingsplanen bliver udarbejdet i henhold til min
        viden om fysiologi, anatomi, 5-elementsteorien (TKM), Organuret, 
        meridianlære, visuel foddiagnose og de zoneterapeutiske systemer, og
        justeres efter behov.    Du ligger eller sidder på den varme briks med
        løssiddende tøj, bare fødder og lægge. Jeg anvender UCCA fodsalve, som
        er lavet af økologiske, nærende olier og butters, æteriske olier og
        bivoks. ​ Hvis det er relevant for din situation, taler vi om evt. behov
        for vitaminer og kosttilskud, kost, motion, åndedrætsøvelser etc., så du
        selv kan være med til at understøtte behandlingerne i din daglige
        levevis.
      </p>
    </div>
    <button class="knap"
      ><a href="https://holistiskmassage.onlinebooq.dk"> BOOK TID</a></button
    >
  </div>
</section>

<style>
  .container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
  }
  p {
    font-family: "Martel", serif;
    font-weight: 400;
    font-style: normal;
  }

  .knap {
    border: 2px solid var(--font-blue);
    background-color: transparent;
    color: var(--font-blue);
    padding: 12px 60px;
  }

  a {
    color: var(--font-blue);
    text-decoration: none;
  }
</style>
